[Unit]
Description=Driver and Controller for thermaltake rgb plus controller
AssertPathExists=/etc/linux_thermaltake_rgb_plus/config.yml

[Service]
ExecStart=/usr/bin/linux_thermaltake_rgb_plus
EnvironmentFile=-/etc/default/linux_thermaltake_rgb_plus
Restart=always
RestartSec=5s

CapabilityBoundingSet=
NoNewPrivileges=yes
PrivateUsers=true
PrivateTmp=yes
PrivateDevices=no
DevicePolicy=closed
DeviceAllow=char-usb_device
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=default.target

