[Unit]
Description=Driver and Controller for thermaltake rgb plus controller
AssertPathExists=/etc/linux_thermaltake_rgb_plus/config.yml

[Service]
ExecStart=/opt/linux_thermaltake_rgb_plus/app.py
Restart=always
RestartSec=5s
User=root
Group=root

[Install]
WantedBy=default.target

